<section class="benefits">
  <div class="container benefits__container">
    <div class="benefits__item">
      <img src="img/benefits/01.svg" alt="">
      <span>Фирменные запчасти у мастеров в наличии</span>
    </div>
    <div class="benefits__item">
      <img src="img/benefits/02.svg" alt="">
      <span>Большинство ремонтов делаем за час на дому</span>
    </div>
    <div class="benefits__item">
      <img src="img/benefits/03.svg" alt="">
      <span>Профессиональный инструмент под любую задачу</span>
    </div>
    <div class="benefits__item">
      <img src="img/benefits/04.svg" alt="">
      <span>Квалифицированные и опытные мастера</span>
    </div>
  </div>
</section>