<section class="comments" id="comments">
  <div class="container">
    <h2 class="comments__title title title--small title--center">
      Нас высоко оценивают
    </h2>

    <div class="swiper comments__slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide comments__slide">
          <div class="comments__slide-viewer">
            <img src="img/comments/01.svg" alt="" class="comments__slide-avatar">
            <div>
              <span class="comments__slide-name">Владимир Завертайлов</span>
              <time datetime="2021-03-15">15 марта 2021</time>
            </div>
          </div>

          <p class="comments__slide-description paragraph">
            Знаю AXIS, как опытных экспертов в области создания визуализаций любой сложности. Умеют четко, грамотно и по
            делу формулировать мысли. Исследовать вопросы. Капают — глубоко. В 3D визуализации стремятся не заработать
            на клиенте, а решить проблемы и предподнести проект в выгодном свете!
          </p>
        </div>

        <div class="swiper-slide comments__slide">
          <div class="comments__slide-viewer">
            <img src="img/comments/02.svg" alt="" class="comments__slide-avatar">
            <div>
              <span class="comments__slide-name">Алина Макарова</span>
              <time datetime="2021-04-03">03 апреля 2021</time>
            </div>
          </div>

          <p class="comments__slide-description paragraph">
            Хочу выразить свою и признательность в решении ремонта стиральной машины Самсунг A600FN, смогли сделать
            раньше срока и качественно, спасибо большое. Вы лучшие! Всегда буду обращаться к Вам, ваш клиент.
          </p>
        </div>

        <div class="swiper-slide comments__slide">
          <div class="comments__slide-viewer">
            <img src="img/comments/03.svg" alt="" class="comments__slide-avatar">
            <div>
              <span class="comments__slide-name">Сергей Семенов</span>
              <time datetime="2021-02-11">11 февраля 2021</time>
            </div>
          </div>

          <p class="comments__slide-description paragraph">
            Знаю AXIS, как опытных экспертов в области создания визуализаций любой сложности. Умеют четко, грамотно и по
            делу формулировать мысли. Исследовать вопросы. Капают — глубоко. В 3D визуализации стремятся не заработать
            на клиенте, а решить проблемы и предподнести проект в выгодном свете!
          </p>
        </div>

        <div class="swiper-slide comments__slide">
          <div class="comments__slide-viewer">
            <img src="img/comments/04.svg" alt="" class="comments__slide-avatar">
            <div>
              <span class="comments__slide-name">Анна Картунова</span>
              <time datetime="2021-03-23">23 марта 2021</time>
            </div>
          </div>

          <p class="comments__slide-description paragraph">
            Хочу выразить свою и признательность в решении ремонта стиральной машины Самсунг A600FN, смогли сделать
            раньше срока и качественно, спасибо большое. Вы лучшие! Всегда буду обращаться к Вам, ваш клиент.
          </p>
        </div>

        <div class="swiper-slide comments__slide">
          <div class="comments__slide-viewer">
            <img src="img/comments/01.svg" alt="" class="comments__slide-avatar">
            <div>
              <span class="comments__slide-name">Владимир Завертайлов</span>
              <time datetime="2021-03-15">15 марта 2021</time>
            </div>
          </div>

          <p class="comments__slide-description paragraph">
            Знаю AXIS, как опытных экспертов в области создания визуализаций любой сложности. Умеют четко, грамотно и по
            делу формулировать мысли. Исследовать вопросы. Капают — глубоко. В 3D визуализации стремятся не заработать
            на клиенте, а решить проблемы и предподнести проект в выгодном свете!
          </p>
        </div>
      </div>
    </div>

    <div class="team__slider-nav">
      <div>
        <div class="comments__slider-pagination"></div>

      </div>
      <div class="team__slider-btns">
        <div class="comments__slider-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
          Назад
        </div>
        <div class="comments__slider-next">
          Далее
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>