<section class="contacts">
  <div class="container contacts__container">

    <h2 class="title title--small contacts__title contacts__title--mobile">Контактная информация</h2>

    <iframe class="contacts__map"
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab1f89995e0e99d294df13b380fdadac1811877c363cf1c24210227d0c90d8b8e&amp;source=constructor"
      width="676" height="563" frameborder="0"></iframe>

    <div class="contacts__info">
      <h2 class="title title--small contacts__title">Контактная информация</h2>

      <div class="contacts__address-box">
        <div class="contacts__address-item">
          <address class="contacts__address"><a
              href="https://yandex.ru/maps/10740/mytischi/house/strelkovaya_ulitsa_16/Z04YcQBjTUICQFtvfXV1dX9rYA==/services/?ll=37.773618%2C55.944409&tab=services&z=18.99"
              target="_blank">ул.
              Стрелковая, д. 14 (офис 1)</a></address>
          <span class="contacts__schedule">8:00—21:00 без выходных</span>
        </div>

        <div class="contacts__address-item">
          <address class="contacts__address"><a
              href="https://yandex.ru/maps/10748/pushkino/house/ulitsa_karla_marksa_33/Z04YfgZgQUQPQFtvfXV2eXxjYA==/?ll=37.810818%2C55.978005&z=16.99"
              target="_blank">ул. Карла Маркса, д. 33 (диспетчерская)</a></address>
          <span class="contacts__schedule">7:00—23:00 без выходных</span>
        </div>
      </div>

      <div class="contacts__links">
        <a href="mailto:iavaisov@gmail.com" class="contacts__email ">iavaisov@gmail.com</a>

        <a href="feedback" class="header__right-btn contacts__btn btn-reset btn">Позвонить</a>
      </div>
    </div>
  </div>
</section>