<section class="contacts">
  <div class="container contacts__container">

    <h2 class="title title--small contacts__title contacts__title--mobile">Контактная информация</h2>

    <iframe class="contacts__map"
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab1f89995e0e99d294df13b380fdadac1811877c363cf1c24210227d0c90d8b8e&amp;source=constructor"
      width="676" height="563" frameborder="0"></iframe>

    <div class="contacts__info">
      <h2 class="title title--small contacts__title">Контактная информация</h2>

      <div class="contacts__address-box">
        <div class="contacts__address-item">
          <address class="contacts__address">ул. Стрелковая, д. 14 (офис 1)</address>
          <span class="contacts__schedule">8:00—21:00 без выходных</span>
        </div>

        <div class="contacts__address-item">
          <address class="contacts__address">ул. Карла Маркса, д. 33 (диспетчерская)</address>
          <span class="contacts__schedule">7:00—23:00 без выходных</span>
        </div>
      </div>

      <div class="contacts__links">
        <a href="mailto:iavaisov@gmail.com" class="contacts__email ">iavaisov@gmail.com</a>

        <a href="#" class="contacts__btn btn-reset btn">Позвонить</a>
      </div>
    </div>
  </div>
</section>