<section class="costs" id="costs">
  <div class="container">
    <h2 class="title title--center costs__title">Стоимость работ</h2>

    <table class="costs__table">
      <tr class="costs__table-row">
        <th class="big">Услуга</th>
        <th>Стоимость запчасти</th>
        <th>Стоимость работ</th>
      </tr>

      <tr>
        <td>Выезд мастера</td>
        <td></td>
        <td class="for-free">Бесплатно</td>
      </tr>

      <tr>
        <td>Диагностика стиральной машины</td>
        <td></td>
        <td class="for-free">Бесплатно</td>
      </tr>

      <tr>
        <td>Замена блока питания</td>
        <td class="price">от 750₽</td>
        <td class="price">900₽</td>
      </tr>

      <tr>
        <td>Замена помпы</td>
        <td class="price">от 8880₽</td>
        <td class="price">1900₽</td>
      </tr>

      <tr>
        <td>Замена подшипников</td>
        <td class="price">от 1450₽</td>
        <td class="price">750₽</td>
      </tr>

      <!-- hide -->



      <tr class="cost__table--additional hide">
        <td>Диагностика стиральной машины</td>
        <td></td>
        <td class="for-free">Бесплатно</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Замена блока питания</td>
        <td class="price">от 750₽</td>
        <td class="price">900₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Замена помпы</td>
        <td class="price">от 8880₽</td>
        <td class="price">1900₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Выезд мастера</td>
        <td></td>
        <td class="for-free">Бесплатно</td>
      </tr>
      <tr class="cost__table--additional hide">
        <td>Замена подшипников</td>
        <td class="price">от 1450₽</td>
        <td class="price">750₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Выезд мастера</td>
        <td></td>
        <td class="for-free">Бесплатно</td>
      </tr>



      <tr class="cost__table--additional hide">
        <td>Замена блока питания</td>
        <td class="price">от 750₽</td>
        <td class="price">900₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Замена помпы</td>
        <td class="price">от 8880₽</td>
        <td class="price">1900₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Замена подшипников</td>
        <td class="price">от 1450₽</td>
        <td class="price">750₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Диагностика стиральной машины</td>
        <td></td>
        <td class="for-free">Бесплатно</td>
      </tr>


      <tr class="cost__table--additional hide">
        <td>Замена блока питания</td>
        <td class="price">от 750₽</td>
        <td class="price">900₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Замена помпы</td>
        <td class="price">от 8880₽</td>
        <td class="price">1900₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Замена подшипников</td>
        <td class="price">от 1450₽</td>
        <td class="price">750₽</td>
      </tr>

      <tr class="cost__table--additional hide">
        <td>Диагностика стиральной машины</td>
        <td></td>
        <td class="for-free">Бесплатно</td>
      </tr>
    </table>

    <table class="costs__table--mobile">
      <tr class="parent-tr ">
      <tr>
        <th>Выезд мастера</th>
      </tr>
      <td>Стоимость работ</td>
      <td class="for-free">Бесплатно</td>
      </tr>

      <tr class="parent-tr">
      <tr>
        <th>Диагностика стиральной машины</th>
      </tr>
      <td>Стоимость работ</td>
      <td class="for-free">Бесплатно</td>
      </tr>

      <tr class="parent-tr">
      <tr>
        <th>Замена блока питания</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">от 750₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">900₽</td>
      </tr>
      </tr>


      <tr class="parent-tr">
      <tr>
        <th>Замена помпы</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">1900₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">от 8880₽</td>
      </tr>
      </tr>


      <tr class="parent-tr">
      <tr>
        <th>Замена помпы</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">750₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">от 1450₽</td>
      </tr>
      </tr>
    </table>

    <table class="costs__table--mobile cost__table--additional hide">
      <tr class="parent-tr ">
      <tr>
        <th>Выезд мастера</th>
      </tr>
      <td>Стоимость работ</td>
      <td class="for-free">Бесплатно</td>
      </tr>

      <tr class="parent-tr">
      <tr>
        <th>Диагностика стиральной машины</th>
      </tr>
      <td>Стоимость работ</td>
      <td class="for-free">Бесплатно</td>
      </tr>

      <tr class="parent-tr">
      <tr>
        <th>Замена блока питания</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">от 750₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">900₽</td>
      </tr>
      </tr>


      <tr class="parent-tr">
      <tr>
        <th>Замена помпы</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">1900₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">от 8880₽</td>
      </tr>
      </tr>


      <tr class="parent-tr">
      <tr>
        <th>Замена помпы</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">750₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">от 1450₽</td>
      </tr>
      </tr>
    </table>

    <table class="costs__table--mobile cost__table--additional hide">
      <tr class="parent-tr ">
      <tr>
        <th>Выезд мастера</th>
      </tr>
      <td>Стоимость работ</td>
      <td class="for-free">Бесплатно</td>
      </tr>

      <tr class="parent-tr">
      <tr>
        <th>Диагностика стиральной машины</th>
      </tr>
      <td>Стоимость работ</td>
      <td class="for-free">Бесплатно</td>
      </tr>

      <tr class="parent-tr">
      <tr>
        <th>Замена блока питания</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">от 750₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">900₽</td>
      </tr>
      </tr>


      <tr class="parent-tr">
      <tr>
        <th>Замена помпы</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">1900₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">от 8880₽</td>
      </tr>
      </tr>


      <tr class="parent-tr">
      <tr>
        <th>Замена помпы</th>
      </tr>
      <tr>
        <td>Стоимость работ</td>
        <td class="price">750₽</td>
      </tr>
      <tr>
        <td>Стоимость запчасти</td>
        <td class="price">от 1450₽</td>
      </tr>
      </tr>
    </table>

    <button class="btn-reset costs__btn costs__btn--open"><span>Показать все цены</span>
      <svg class="">
        <use xlink:href="img/sprite.svg#loader"></use>
      </svg></button>

    <button class="btn-reset costs__btn costs__btn--close btn-reset costs__btn--hide"><span>Скрыть все цены</span>
      <svg class="">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg></button>
  </div>
</section>