<section class="diagnostics">
  <div class="container diagnostics__container">
    <div class="diagnostics__panel">
      <a href="#">Онлайн-диагностика</a>
      <h2 class="title diagnostics__title">Какая у вас проблема?</h2>

      <div class="diagnostics__img-group diagnostics__img-group--mobile">
        <img class="diagnostics__washer" src="img/diagnostics/washer.png" alt="washer">
        <img class="diagnostics__decor" src="img/diagnostics/decor_01.svg" alt="decoration star">
      </div>

      <div class="diagnostics__btn-group">
        <button class="diagnostics__btn btn btn-reset">Не включается</button>
        <button class="diagnostics__btn btn btn-reset">Не выключается</button>
        <button class="diagnostics__btn btn btn-reset">Не нагревает воду</button>
        <button class="diagnostics__btn btn btn-reset">Все работет, но мне скучно и я хочу пообщаться с
          мастером</button>
        <button class="diagnostics__btn btn btn-reset">Не крутится барабан</button>
        <button class="diagnostics__btn btn btn-reset">Не работает кнопка включения</button>
        <button class="diagnostics__btn btn btn-reset">Не выключается</button>
        <button class="diagnostics__btn btn btn-reset">Иная проблема</button>
        <button class="diagnostics__btn btn btn-reset">Не крутится барабан</button>
        <button class="diagnostics__btn btn btn-reset">Не крутится барабан</button>
        <button class="diagnostics__btn btn btn-reset">Не работает кнопка включения</button>
      </div>

      <select name="diagnostics" class="custom-select" id="">
        <option value="Выберете проблему"></option>
        <option value="Не включается">Не включается</option>
        <option value="Не выключается">Не выключается</option>
        <option value="Не нагревает воду">Не нагревает воду</option>
        <option value="Все работет, но мне скучно и я хочу пообщаться с мастером">Все работет, но мне скучно и я хочу
          пообщаться с мастером</option>
        <option value="Не крутится барабан">Не крутится барабан</option>
        <option value="Не работает кнопка включения">Не работает кнопка включения</option>
        <option value="Не выключается">Не выключается</option>
        <option value="Иная проблема">Иная проблема</option>
        <option value="Не крутится барабан">Не крутится барабан</option>
        <option value="Не крутится барабан">Не крутится барабан</option>
        <option value="Не работает кнопка включения">Не работает кнопка включения</option>
      </select>

      <span class="diagnostics__caption">
        <svg class="">
          <use xlink:href="img/sprite.svg#exclamation"></use>
        </svg>
        Выберите проблему и узнайте её решение
      </span>
    </div>


    <div class="diagnostics__result ">
      <button href="#" class="diagnostics__result-backlink btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
        <span> Выбрать другую проблему</span>
      </button>

      <h2 class="title diagnostics__result-title diagnostics__title">Вероятней всего:</h2>

      <div class="diagnostics__result-box">
        <div class="diagnostics__result-item">
          <div class="diagnostics__result-circle">
            <svg class="" viewBox="-10 -10 300 300">
              <circle class="progress-bg" r="140" cx="140" cy="140" fill="none" stroke="rgba(47, 47, 47, .1)"
                stoke-width="20"></circle>
              <circle class="progress" r="140" cx="140" cy="140" fill="none" stoke-width="20"></circle>
            </svg>

            <span class="percent">51%</span>
          </div>

          <div class="diagnostics__result-caption caption">
            <span class="caption__text">Замена элемента нагрева </span>
            <span class="caption__price">2100 &#x20bd</span>
            <a href="#" class="caption__link">+ запчасть от 1750 Р</a>
          </div>
        </div>

        <div class="diagnostics__result-item">
          <div class="diagnostics__result-circle">
            <svg class="" viewBox="-10 -10 300 300">
              <circle class="progress-bg" r="140" cx="140" cy="140" fill="none" stroke="rgba(47, 47, 47, .1)"
                stoke-width="20"></circle>
              <circle class="progress" r="140" cx="140" cy="140" fill="none" stoke-width="20"></circle>
            </svg>

            <span class="percent">17%</span>
          </div>

          <div class="diagnostics__result-caption caption">
            <span class="caption__text">Замена фильтра</span>
            <span class="caption__price">1200 &#x20bd</span>
            <a href="#" class="caption__link">+ запчасть от 3500 Р</a>
          </div>
        </div>

        <div class="diagnostics__result-item">
          <div class="diagnostics__result-circle">
            <svg class="" viewBox="-10 -10 300 300">
              <circle class="progress-bg" r="140" cx="140" cy="140" fill="none" stroke="rgba(47, 47, 47, .1)"
                stoke-width="20"></circle>
              <circle class="progress" r="140" cx="140" cy="140" fill="none" stoke-width="20"></circle>
            </svg>

            <span class="percent">75%</span>
          </div>

          <div class="diagnostics__result-caption caption">
            <span class="caption__text">Отсутствие питания на блоке</span>
            <span class="caption__price">1400 &#x20bd</span>
            <a href="#" class="caption__link">+ запчасть от 800 Р</a>
          </div>
        </div>
      </div>

      <button class="btn btn-reset btn--dark">Вызвать мастера с выездом от 45 минут</button>


    </div>


    <div class="diagnostics__img-group">
      <img class="diagnostics__washer" src="img/diagnostics/washer.png" alt="washer">
      <img class="diagnostics__decor" src="img/diagnostics/decor_01.svg" alt="decoration star">
    </div>

  </div>

</section>