<section class="feedback">
  <div class="container feedback__container">

    <div class="feedback__left">
      <h2 class="title title--small feedback__title">Вызов мастера</h2>
      <span class="feedback__caption">Оставьте заявку сейчас и получите <a href="#">скидку 15%</a></span>
    </div>

    <form action="#" class="feedback__form ">
      <input class="input-reset text-field feedback__form-input" type="tel" name="phone" id="phone"
        placeholder="Номер телефона">
      <a href="#" class="btn-reset btn btn--fill feedback__form-btn">Заказать звонок</a>
    </form>

  </div>
</section>