<footer class="footer">
  <div class="container footer__container">

    <a href="#" class="logo footer__logo" aria-label="на главную">
      <img src="img/svg/logo-dark.svg" alt="Logo">
    </a>

    <nav class=" footer__nav" title="footer-nav" data-menu>
      <ul class="footer__nav-list list-reset">
        <li class="nav__item"><a href="#diagnostics" class="nav__link">Диагностика</a></li>
        <li class="nav__item"><a href="#costs" class="nav__link">Стоимость</a></li>
        <li class="nav__item"><a href="#team" class="nav__link">Мастера</a></li>
        <li class="nav__item"><a href="#comments" class="nav__link">Отзывы</a></li>
        <li class="nav__item"><a href="#questions" class="nav__link">Вопросы</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Карта сайта</a></li>
      </ul>
    </nav>

    <div class="footer__payment">
      <h4 class="footer__payment-title"> Способы оплаты: </h4>

      <div class="footer__payment-box">
        <div class="footer__payment-item">
          <img src="img/footer/01.svg" alt="МИР">
        </div>

        <div class="footer__payment-item">
          <img src="img/footer/04.svg" alt="MasterCard">
        </div>

        <div class="footer__payment-item">
          <img src="img/footer/02.svg" alt="VISA">
        </div>

        <div class="footer__payment-item">
          <img src="img/footer/03.svg" alt="ApplePay">
        </div>

        <div class="footer__payment-item">
          <img src="img/footer/05.svg" alt="GooglePay">
        </div>

        <div class="footer__payment-item">
          Наличные
        </div>
      </div>

    </div>

    <div class="footer__copyright">
      <span>Сервис ремонта бытовой и цифровой техники</span>
      <span>ЧПТУП «МИКАИЛ» 192007601</span>
    </div>

  </div>
</footer>