<section class="hero">



  <div class="container hero__container">
    <div class="hero__bg">
      <img src="img/hero/repairman.svg" alt="repairman" class="repairman">
      <img src="img/hero/washer.png" alt="washer" class="washer">
      <img src="img/hero/decor.png" alt="decoration" class="decor">
    </div>

    <div class="hero__content">
      <h1 class="hero__title">Ремонт стиральных машин на дому c годовой гарантией</h1>
      <span class="hero__caption"><span>Отремонтируем на дому</span> или бесплатно завезем и доставим обратно из
        сервисного центра</span>

      <a href="" class="hero__btn btn btn-reset btn--dark">Заказать звонок</a>
    </div>

    <div class="hero__banner">
      <button type="button" class="btn-reset" aria-label="close banner">
        <svg class="close-svg">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>

      <span class="hero__banner-caption">
        <span>Мы открыты и принимаем заказы до 21:00</span>, позвоните сейчас и мы сделаем скидку 15%
      </span>

      <a href="#" class="hero__banner-link">
        <span>Получить скидку</span>
        <svg class="arrow-svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </a>
    </div>
  </div>


</section>