<section class="questions" id="questions">
  <div class="container questions__container">

    <div class="questions__left">
      <h2 class="title title--small questions__title">Часто задаваемые вопросы</h2>
      <p class="questions__description">
        Не нашли ответ на свой вопрос? <a href="" class="questions__link">Оставьте заявку</a> и наш специалист свяжется
        и ответит на ваш вопрос
      </p>
    </div>

    <div class="questions__accordion accordion">
      <div class="accordion__item">
        <h3 class="accordion__title active" tabindex="0" aria-label="аккордион">
          <span class="accordion__accent">Где почитать отзывы о вас?</span>

          <button class="accordion__btn btn-reset" aria-label="Открыть">+</button>
        </h3>

        <div class="accordion__body  active">
          <div class="accordion__body-item">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quod quia similique voluptates eius ut quos
            velit delectus non nisi cum in consequatur expedita ex, nesciunt libero, maxime sapiente cupiditate.
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title " tabindex="0" aria-label="аккордион">
          <span class="accordion__accent">Сколько времени длится ремонт?</span>

          <button class="accordion__btn btn-reset" aria-label="Открыть">+</button>
        </h3>

        <div class="accordion__body  ">
          <div class="accordion__body-item">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quod quia similique voluptates eius ut quos
            velit delectus non nisi cum in consequatur expedita ex, nesciunt libero, maxime sapiente cupiditate.
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title " tabindex="0" aria-label="аккордион">
          <span class="accordion__accent">Какие марки стиральных машин вы ремонтируете?</span>

          <button class="accordion__btn btn-reset" aria-label="открыть">+</button>
        </h3>

        <div class="accordion__body  ">
          <div class="accordion__body-item">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quod quia similique voluptates eius ut quos
            velit delectus non nisi cum in consequatur expedita ex, nesciunt libero, maxime sapiente cupiditate.
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title " tabindex="0" aria-label="аккордион">
          <span class="accordion__accent">Я живу в московской области, сможете приехать?</span>

          <button class="accordion__btn btn-reset" aria-label="открыть">+</button>
        </h3>

        <div class="accordion__body  ">
          <div class="accordion__body-item">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quod quia similique voluptates eius ut quos
            velit delectus non nisi cum in consequatur expedita ex, nesciunt libero, maxime sapiente cupiditate.
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title " tabindex="0" aria-label="аккордион">
          <span class="accordion__accent">Как производится контроль качества?</span>

          <button class="accordion__btn btn-reset" aria-label="открыть">+</button>
        </h3>

        <div class="accordion__body  ">
          <div class="accordion__body-item">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quod quia similique voluptates eius ut quos
            velit delectus non nisi cum in consequatur expedita ex, nesciunt libero, maxime sapiente cupiditate.
          </div>
        </div>
      </div>




    </div>
  </div>
</section>