<section class="ratings">
  <div class="container ratings__container">

    <div class="ratings__card">

      <div class="ratings__info">
        <div class="ratings__value"><span>4,5</span> / 5.0</div>
        <span class="ratings__caption">100+ оценок</span>
      </div>

      <img src="img/ratings/google.svg" alt="google" class="ratings__logo">

    </div>

    <div class="ratings__card">

      <div class="ratings__info">
        <div class="ratings__value"><span>4,8 </span>/ 5.0</div>
        <span class="ratings__caption">250+ оценок</span>
      </div>

      <img src="img/ratings/yandex.svg" alt="google" class="ratings__logo">

    </div>

    <div class="ratings__card">

      <div class="ratings__info">
        <div class="ratings__value"><span>4,3</span> / 5.0</div>
        <span class="ratings__caption">10 000+ оценок</span>
      </div>

      <img src="img/ratings/fixcellent.svg" alt="google" class="ratings__logo">

    </div>
  </div>
</section>