<section class="team">
  <div class="container">
    <span class="team__caption">В нашем штате 37 сотрудников</span>
    <h2 class="title title--center team__title">Мы большая команда профессионалов</h2>

    <div class="swiper team__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide team__slide">
          <img src="img/team/01.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/02.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/03.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/04.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/05.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/06.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/07.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/08.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/09.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/10.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/11.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/12.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide team__slide">
          <img src="img/team/13.png" alt="" class="team__slide-img">

          <div class="team__slide-content">
            <h3 class="subtitle team__slide-subtitle">Александр Федулов</h3>
            <span class="team__slide-caption">Ремонтник</span>

            <ul class="list-reset team__slide-stats">
              <li class="team__slide-stat">
                398 ремонтных работ
              </li>
              <li class="team__slide-stat">
                3 года в Fixper
              </li>
              <li class="team__slide-stat">
                Рейтинг Fixper 4,5
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="team__slider-nav">
      <div>
        <div class="team__slider-pagination"></div>

      </div>
      <div class="team__slider-btns">
        <div class="team__slider-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
          Назад
        </div>
        <div class="team__slider-next">
          Далее
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>